@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
  font-family: 'Poppins', sans-serif;
}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
p{
  margin: 0 !important;
}
.nav__link{
  text-decoration: none;
  font-size: 18px;
  color: #000;
}
.hero__main{
  background-image:  linear-gradient(to bottom, rgba(243, 244, 251, 0), rgba(0, 0, 0, 2)), url('./Component/Assets/hero__image.jpg');
  background-position: center;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
}
.hero__heading{
  font-size: 64px;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}
.hero__btn__container{
  margin-top: 35px;
  text-align: center;
}
.hero__btn{
  text-decoration: none;
  padding: 12px 32px;
  color: #fff;
  border: 1px solid #fff;
  transition: 0.4s ease;
}
.hero__btn:hover{
  background-color: #fff;
  color: #000;
}
.quiz__main{
  padding: 80px 0;
}
.quiz__detail{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.quiz__card{
  background-color: #DAEAF1;
}
.quiz__name{
  font-size: 20px;
  font-weight: 600;
}
.quiz__quantity{
  font-size: 12px;
}